th,
td {
  border: 1px solid black;
}

body {
  background-image: url(https://external-preview.redd.it/uhq5zTcMPM3tOW_fbUz4PayDt_5pkEXdyXXoRWs3XOg.jpg?auto=webp&s=e06461124c1ccfdba7e9ece763b644ff68eeb06b);
  font-family: Arial, sans-serif;
}

.required {
  color: red;
}

.bold-and-green {
  font-weight: bold;
  color: darkgreen;
}
